* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* targeting all img elements that are the same. called global element rules*/
img {
  width: 100%;
}

/*initial value is none but will be manipulated by js later*/
#search-container {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 68, 29, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );

  width: 100vw;
  height: 100vh;
}

.exit-container {
  position: absolute;
  top: 35px;
  right: 35px;
}

.exit-container:hover {
  cursor: pointer;
}

.exit-container img {
  width: 50px;
}

#search-container form {
  width: 75%;
}

#search-container form input {
  width: 100%;

  background: transparent;
  border: none;
  border-bottom: 5px rgb(37, 34, 34) solid;
  font-size: 2em;
}

#search-container form input:focus {
  outline: none;
}

#container {
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  height: 10%;
  background: linear-gradient(90deg, #fd391d 0%, rgba(252, 176, 69, 1) 100%);
}

.brand-container {
  display: flex;
  width: 300px;
  height: 100%;

  justify-content: space-evenly;
  align-items: center;
}

.brand-flex-item {
  height: 64px;
}

h1.brand-flex-item {
  margin-top: 20px;
}

h1.brand-flex-item span {
  display: inline-block;
  font-size: 40px;
  transform: skewX(10deg);
}

.navigation-container menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 100%;

  list-style: none;
}

.navigation-container menu li:hover {
  cursor: pointer;
  color: rgb(63, 29, 253);
}

/* Login list item */
.navigation-container menu li:nth-child(1) {
  /* Login Haute Closet item */
  list-style: url("images/identity.png");
  transform: scale(0.5);

  font-size: 3em;
}

/*Haute Closet list item */
.navigation-container menu li:nth-child(2) {
  list-style: url("images/fire.png");

  transform: scale(0.5);
  font-size: 3em;
}

/*Search list item */
.navigation-container menu li:nth-child(3) {
  list-style: url("images/search.png");

  transform: scale(0.5);
  font-size: 3em;
}

main {
  display: flex;
  height: 75%;
}

main #topics-container {
  width: 30%;
}

main #lip-container {
  width: 50%;
}

#lip-container h2 {
  text-align: center;
}

main #navigation-column {
  width: 20%;
}

footer {
  min-height: 144px;
  height: 15%;
}
